button{
  background: #fff;
  border: none;
  border: #eee 1px solid;
  border-radius: 4px;
  &:hover{
    background-color: #ccc;
  }
}


section {
  article{
    p {
      border: #ddd 1px solid;
      margin: 0;
      margin-top:1px;
      padding: 0;
    }
  }
}